*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    border: green solid 5px;
    font: bold 14px Arial, sans-serif ;
    margin: 2rem;
}

.header, .nav, .main, .footer {
    overflow: hidden; /* Отменяем обтекание */
    margin: 1rem;
    border: red solid 0.25rem;
    padding: 0.5rem;
}
/*Раздел шапки */
.Hcol1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 2 и 3 */
}

.Hcol11 {
    /*
        width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;
    height: 5rem;
    margin: -0.2rem;
}

.Hcol2, .Fcol2 {
    width: 50%;
    float: right; /* Обтекание слева */
}

.Hcol21, .Fcol21 {
    /*
        width: calc(100% - 0.75rem);

     */
    width: 100%;
    border: 0.25rem solid blue;
    height: 5rem;
    margin: -0.1rem;
}

.Hcol3, .Fcol3 {
    width: 25%;
    float: right; /* Обтекание слева */
}

.Hcol31, .Fcol31 {
    /*
        width: calc(100% - 0.75rem);

     */
    width: 100%;
    border: 0.25rem solid blue;
    margin: -0.2rem;
    padding: 0.4rem;
}

.Hcol31_1 {
    /*
    margin: -0.2rem;
     */
    border: 0.25rem solid yellow;
    /*
        float: left;
     */
}

.Hcol31_2 {
    /*
        margin: -0.2rem;
     */
    border: 0.25rem solid yellow;
    /*
        float: left;
     */
}

/*Раздел навигации*/
.Ncol4, .Ncol3, .Ncol2 {
    width: 25%;
    float: right; /* Обтекание слева */
}

.Ncol41,.Ncol31,.Ncol11, .Ncol21 {
    /*
        width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;
}

.Ncol1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 1, 2 и 3 */
}

/*Раздел основного контента*/
.Mcol1 {
    width: 75%;
    float: right;
    height: 50vh;
}

.Mcol11, .Mcol21 {
    /*
    width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;

}

.Mcol2 {
    margin-right: 75%;
    height: 50vh;
}

/*Раздел подвала*/
.Fcol31 {
    height: 4rem;

}

.Fcol1 {
    margin-right: 75%;
}

.Fcol11 {
    /*
        width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;
    height: 4rem;
    overflow-y: auto;
}

.Fcol11_1, .Fcol11_2, .Fcol11_3, .Fcol11_4 {
    border: 0.25rem solid yellow;
    margin: 0.25rem;
    float: left;
    height: auto;
}
