*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    border: green solid 5px;
    font: bold 14px Arial, sans-serif ;
    margin: 2rem;
}

.header, .nav, .main, .footer {
    overflow: hidden; /* Отменяем обтекание */
    margin: 1rem;
    border: red solid 0.25rem;
    padding: 0.5rem;
}

/* Раздел шапки */
.col-header__1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 2 и 3 */
    padding: 0.5rem;
}

/* отменяем float */
.col-header__1>.wrap::after {
    clear: both;
}

.col-header__1>.wrap {
    float: none; /* еще раз отменяем float */
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.col-header__2, .col-foot__2 {
    width: 50%;
    float: right; /* Обтекание слева */
    padding: 0.5rem;
}

.col-header__2>.wrap::after,
.col-foot__2>.wrap::after
{
    clear: both;
}

.col-header__2>.wrap,
.col-foot__2>.wrap {
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.col-header__3, .col-foot__3 {
    width: 25%;
    float: right; /* Обтекание слева */
    padding: 0.5rem;
}

.col-header__3>.wrap::after{
    clear: both;
}

.col-header__3>.wrap,
.col-foot__3>.wrap {
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.col-header__3>.wrap>.item
{
    border: 0.25rem solid yellow;
    margin: 0.25rem;
}

/*Раздел навигации*/

.col-nav__4, .col-nav__3, .col-nav__2, .col-nav__1
{
    width: 25%;
    float: right; /* Обтекание слева */
    padding: 0.5rem;
}

.col-nav__4>.wrap::after,
.col-nav__3>.wrap::after,
.col-nav__2>.wrap::after,
.col-nav__1>.wrap::after
{
    clear: both;
}

.col-nav__4>.wrap,
.col-nav__3>.wrap,
.col-nav__2>.wrap,
.col-nav__1>.wrap
{
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 2rem;
}


/*Раздел основного контента*/

.col-main__2 {
    margin-right: 75%; /* Сдвиг влево на ширину колонок 2 и 3 */
    padding: 0.5rem;
    height: 50vh;
}
.col-main__1 {
    width: 75%;
    float: right;
    padding: 0.5rem;
    height: 50vh;
}

.col-main__1 >.wrap::after,
.col-main__2>.wrap::after {
    clear: both;
}

.col-main__1>.wrap,
.col-main__2>.wrap {
    float: none;
    width: 100%;
    height: 100%;
    border: 0.25rem solid blue;
}

.col-main__1>.wrap>.item {
    border: 0.25rem solid yellow;
    margin: 0.25rem;
    height: 20%;
}

.col-main__1>.wrap>.item:first-child{
    height: 75%;
}

/*Раздел подвала*/

.col-foot__1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 2 и 3 */
    padding: 0.5rem;
}
.col-foot__1>.wrap::after {
    clear: both;
}

.col-foot__1>.wrap {
    float: none; /* еще раз отменяем float */
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
    overflow-y: scroll;
}

.col-foot__1>.wrap>.item
{
    border: 0.25rem solid yellow;
    margin: 0.25rem;
}
