*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    border: green solid 5px;
    font: bold 14px Arial, sans-serif ;
    margin: 2rem;
}

.header, .nav, .main, .footer {
    overflow: hidden; /* Отменяем обтекание */
    margin: 1rem;
    border: red solid 0.25rem;
    padding: 0.5rem;
}

/*Раздел шапки */
.Hcol1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 2 и 3 */
    padding: 0.5rem;
}

.Hcol1>.wrap::after {
    clear: both;
}

.Hcol1>.wrap {
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.Hcol2, .Fcol2 {
    width: 50%;
    float: right; /* Обтекание слева */
    padding: 0.5rem;
}

.Hcol2>.wrap::after,
.Fcol2>.wrap::after
{
    clear: both;
}

.Hcol2>.wrap,
.Fcol2>.wrap {
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.Hcol3, .Fcol3 {
    width: 25%;
    float: right; /* Обтекание слева */
    padding: 0.5rem;
}

.Hcol3>.wrap::after{
    clear: both;
}

.Hcol3>.wrap,
.Fcol3>.wrap {
    float: none;
    width: 100%;
    border: 0.25rem solid blue;
    height: 4.5rem;
}

.Hcol3>.wrap>.item,
.Fcol3>.wrap>.item
{
    border: 0.25rem solid yellow;
    margin: 0.25rem;
}

/*Раздел навигации*/
.Ncol4, .Ncol3, .Ncol2 {
    width: 25%;
    float: right; /* Обтекание слева */
}

.Ewrap {
    /*
        width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;
}

.Ncol1{
    margin-right: 75%; /* Сдвиг влево на ширину колонок 1, 2 и 3 */
}

/*Раздел основного контента*/
.Mcol1 {
    width: 75%;
    float: right;
    height: 50vh;
}

Ewrap{
    /*
    width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;

}

.Mcol2 {
    margin-right: 75%;
    height: 50vh;
}

/*Раздел подвала*/
.Ewrap {
    height: 4rem;
}

.Fcol1 {
    margin-right: 75%;
}

.Ewrap {
    /*
        width: calc(100% - 0.75rem);
     */
    width: 100%;
    border: 0.25rem solid blue;
    height: 4rem;
    /*
    overflow-y: auto;
     */
}
