*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    border: green solid 5px;
    font: bold 14px Arial, sans-serif ;
    margin: 2rem;
}

.header, .nav, .main, .footer {
    overflow: hidden; /* Отменяем обтекание */
    margin: 1rem;
    border: red solid 0.25rem;
    padding: 0.5rem;
}
.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/*Раздел шапки*/

.col-header__1, .col-header__2, .col-header__3 {
    border: 0.25rem solid blue;
    margin: 0;
    padding: 0;
}
.col-header__1, .col-header__3 {
    max-width: 30rem;
    margin-left: 1rem;
}
.col-header__2 {
    max-width: 40rem;
}

.col-header__3>.item {
    border: 0.25rem solid yellow;
    margin: 0.5rem;
}

/*Раздел навигации*/

.nav {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.col-nav__1, .col-nav__2, .col-nav__3, .col-nav__4 {
    border: 0.25rem solid blue;
    margin: 0;
    padding: 0.5rem;
}
.col-nav__1, .col-nav__4 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.col-nav__2 {
    margin-right: 1rem;
}

/*Раздел основного контента
не работает
*/

.main {
    display: flex;
}

.col-main__1, .col-main__2 {
    border: 0.25rem solid blue;
    margin: 1rem;
    width: 20vh;
}
.col-main__2 {
    margin-left: 1rem;
}
/*Раздел основного контента
    .col-main__1 {
        width: 75%;
        float: right;
        height: 50vh;
    }

    Ewrap{
        /*
        width: calc(100% - 0.75rem);
         */
/*
    width: 100%;
    border: 0.25rem solid blue;

}

.col-main__2 {
    margin-right: 75%;
    height: 50vh;
}
*/

/*Раздел подвала
    .Ewrap {
        height: 4rem;
    }

    .col-foot__1 {
        margin-right: 75%;
    }

    .Ewrap {
        /*
            width: calc(100% - 0.75rem);
         */
/*
    width: 100%;
    border: 0.25rem solid blue;
    height: 4rem;
    /*
    overflow-y: auto;
     */
/*
}
*/